
.icon-kitsu:before { content: '\e800'; } /* '' */
.icon-tvdb:before { content: '\e803'; } /* '' */
.icon-mal:before { content: '\e805'; } /* '' */
.icon-anilist:before { content: '\e806'; } /* '' */