<!DOCTYPE html>
<html>
<!--
    This file is part of Scrobbly.

    Scrobbly is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Scrobbly is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Scrobbly.  If not, see <https://www.gnu.org/licenses/>.
-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="../Semantic-UI-CSS/components/button.min.css">
    <link rel="stylesheet" href="../Semantic-UI-CSS/components/icon.min.css">
</head>
<body>
    <content>
        <div class="header">
            <div class="logo">
                <img src="../logos/logo128.png" width="78px" height="78px">
            </div>
            <div class="h">
                <h2>Scrobbly</h2>
            </div>
        </div>
        <div class="content">
            <div v-if="workingdb == 'notready'" class="firstrun">
                <h3>{{ trans('notready') }}</h3>
                <a href="settings.html" target="_blank" class="ui green button">{{ trans('login') }}</a>
            </div>
            <div v-for="status in workingdb">
                <h3>{{ status.libname }}</h3>
                <h4>{{ status.anime.title }}</h4>
                <p v-html="status.anime.synopsis"></p>
            </div>
        </div>
    </content>

    <script src="popup.bundle.js"></script>
</body>
</html>