/*
    This file is part of Scrobbly.

    Scrobbly is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Scrobbly is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Scrobbly.  If not, see <https://www.gnu.org/licenses/>.
*/

@import '~semantic-ui-css/semantic';

@import './al-icons/css/al-icons';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #af3636;
    width: 280px;
    height: 580px;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    padding: 5%;
}

.header {
    height: 17%;
    width: 95%;
    box-sizing: border-box;
    margin-left: 5%;
}

.header * {
    box-sizing: inherit;
}

.logo {
    width: 30%;
    float: left;
    vertical-align: middle;
}

.h {
    float: right;
    width: 70%;
    height: 20%;
    margin: auto;
    text-align: center;
}

.subheader {
    text-align: center;
}

// .fleft {
//     float: left;
//     width: 75%;
//     margin-bottom: 0.5em;
// }

// .fright {
//     float: right;
//     width: 12.5%;
//     padding-right: 10%;
//     margin-bottom: 0.5em;
// }

.blanklink {
    color: white !important;
}