<!DOCTYPE html>
<html>
<!--
    This file is part of Scrobbly.

    Scrobbly is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Scrobbly is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Scrobbly.  If not, see <https://www.gnu.org/licenses/>.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="al-icons/css/al-icons.css">
    <link rel="stylesheet" href="../Semantic-UI-CSS/semantic.min.css">
    <style>
        body {
            background-color: #af3636;
        }
        #title {
            color: white;
        }
    </style>
    <title>Scrobbly</title>
</head>
<body>
    <content>
        <div id="header" class="ui hidden transition container">
            <img id="logo" class="ui centered image" src="../logos/logo256.png">
            <h1 id="title" class="ui centered header">Scrobbly</h1>
        </div>
        <br><br>
        <div class="ui hidden transition container" id="content">
            <div class="ui segment">
                <h2>{{ trans('login') }}</h2>
                <p>{{ trans('loginProcedure') }}</p>
                <a href="#" @click="showModal('anilist')" class="ui blue labeled icon button" id="anilist">
                    <i class="icon-anilist icon"></i>
                    AniList
                </a>
                <a href="#" v-if="browserstorage.anilist_at" @click="showDeleteModal('Anilist')" class="ui red labeled icon button" id="anilist_delete">
                    <i class="delete icon"></i>
                    {{ trans('delete') }}
                </a>
                <br/><br/>
                <a href="#" @click="showModal('kitsu')" class="ui orange labeled icon button" id="kitsu">
                    <i class="icon-kitsu icon"></i>
                    Kitsu
                </a>
                <a href="#" v-if="browserstorage.kitsu_at && browserstorage.kitsu_uid" @click="showDeleteModal('Kitsu')" class="ui red labeled icon button" id="kitsu_delete">
                    <i class="delete icon"></i>
                    {{ trans('delete') }}
                </a>
                <br/><br/>
                <a href="#" @click="showModal('thetvdb')" class="ui black labeled icon button" id="thetvdb">
                    <i class="icon-tvdb icon"></i>
                    TheTVDB
                </a>
                <a href="#" v-if="browserstorage.thetvdb_at" @click="showDeleteModal('TheTVDB')" class="ui red labeled icon button" id="tvdb_delete">
                    <i class="delete icon"></i>
                    {{ trans('delete') }}
                </a>
                <br/><br/>
                <a class="ui blue disabled labeled icon button" id="mal">
                    <i class="icon-mal icon"></i>
                    MyAnimeList (not supported for now)
                </a>
                <br><br>
                <a href="#" @click="save" class="ui green labeled icon button" id="save">
                    <i class="save icon"></i>
                    {{ trans('save') }}
                </a>
            </div>
            <div class="ui segment">
                <h3>{{ trans('aboutTitle') }}</h3>
                <p>{{ trans('aboutText') }}</p>
                <a href="https://github.com/leonekmi/scrobbly">{{ trans('starRepo') }}</a>
            </div>
        </div>

        <div id="anilistmodal" class="ui modal">
            <div class="header">
                {{ trans('loginWith', 'AniList') }}
            </div>
            <div class="content">
                <p>
                    {{ trans('loginInfoAnilist') }}
                </p>
            </div>
            <div class="actions">
                <a target="_blank" href="https://anilist.co/api/v2/oauth/authorize?client_id=65&redirect_uri=https%3A%2F%2Fscrobbly.leonekmi.fr%2Fanilist%2Fcallback&response_type=code" class="ui positive button">
                    {{ trans('login') }}
                </a>
            </div>
        </div>

        <div id="kitsumodal" class="ui modal">
            <div class="header">
                {{ trans('loginWith', 'Kitsu') }}
            </div>
            <div class="content">
                <p>
                    {{ trans('loginInfoKitsu') }}
                </p>
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>{{ trans('email') }}</label>
                            <input type="text" :placeholder="trans('email')" id="emailkitsu">
                        </div>
                        <div class="field">
                            <label>{{ trans('password') }}</label>
                            <input type="password" :placeholder="trans('password')" id="passwordkitsu">
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <a href="#" @click="loginKitsu" class="ui positive button">
                    {{ trans('login') }}
                </a>
            </div>
        </div>

        <div id="thetvdbmodal" class="ui modal">
            <div class="header">
                {{ trans('loginWith', 'TheTVDB') }}
            </div>
            <div class="content">
                <p>
                    {{ trans('dataProviderNotice', 'TheTVDB') }}
                    <br/>
                    {{ trans('loginInfoTheTVDB') }}
                    <br/>
                    <strong><a target="_blank" href="https://www.thetvdb.com/member/api">{{ trans('loginLinkTheTVDB') }}</a></strong>
                </p>
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>Username</label>
                            <input type="text" placeholder="Username" id="usernamethetvdb">
                        </div>
                        <div class="field">
                            <label>Unique ID</label>
                            <input type="text" placeholder="Unique ID" id="uidthetvdb">
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <a href="#" @click="loginTheTVDB" class="ui positive button">
                    {{ trans('login') }}
                </a>
            </div>
        </div>

        <div id="deletemodal" class="ui modal">
            <div class="header">
                {{ deletemodaltitle }}
            </div>
            <div class="content">
                <p>{{ deletemodalmessage }}</p>
            </div>
            <div class="actions">
                <a href="#" class="ui labeled icon red button" @click="deleteLogin()">
                    <i class="trash icon"></i>
                    {{ trans('delete') }}
                </a>
            </div>
        </div>
    </content>

    <script src="settings.bundle.js"></script>
</body>
</html>